node_modules/
.DS_Store
.idea/
.vscode/

# Build artifacts
docs/.vitepress/dist/
landing-page-premium/docs/
landing-page-premium/output.css

# Other
test_local_secret
presentation/
frontend-new
ADOPTERS.md
GOVERNANCE.md
./docs/cncf/CNCF_SANDBOX_APPLICATION.md
./docs/cncf/DSOS_APPLICATION.md